#root {
  width: 100%;
}

td {
  vertical-align: top;
}

th {
  text-align: center !important;
}

.line-clamp-400-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  width: 400px;
}
